html, body {
    height: 100%;
  }
  body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: #5680E9;
    background-repeat: no-repeat;
    background-size:cover;
  }
  /*Small menu*/
  [type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
}
.menu-icon:checked + label,
.menu-icon:not(:checked) + label{
  position: fixed;
  top: 63px;
  right: 75px;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 10;
  transition: transform 200ms 1700ms ease;
  display: none;
}
.menu-icon:checked + label:before,
.menu-icon:not(:checked) + label:before{
  position: absolute;
  content: '';
  display: block;
  width: 30px;
  height: 20px;
  z-index: 20;
  top: 0;
  left: 0;
  border-top: 2px solid #ececee;
  border-bottom: 2px solid #ececee;
  transition: transform 200ms 1700ms ease,
              border-width 200ms 1700ms ease;
} 

.menu-icon:checked + label:after,
.menu-icon:not(:checked) + label:after{
  position: absolute;
  content: '';
  display: block;
  width: 30px;
  height: 2px;
  top: calc(22px/2);
  z-index: 20;
  background-color: #ececee;
}
.menu-icon:checked + label:before{
  top: 11px;
  transform: rotate(45deg);
  height: 2px;
  background-color: #ececee;
  border-width: 0;
  transition: transform 200ms 1700ms ease;
}
.menu-icon:checked + label:after{
  width: 30px;
  margin-top: 0;
  right: 0;
  transform: rotate(-45deg);
  transition: transform 200ms 1700ms ease;
}
.nav_1{
  position: fixed;
  top: 33px;
  right: 50px;
  display: none;
  width: 80px;
  height: 80px;
  padding: 0;
  margin: 0;
  z-index: 9;
  overflow: hidden;
  box-shadow: 0 8px 30px 0 rgba(0,0,0,0.3);
  background: black;
  animation: border-transform 3s ease infinite;
  transition: top 350ms 1100ms ease,  
              right 350ms 1100ms ease,
              transform 350ms 1100ms ease,
              width 650ms 400ms ease,
              height 650ms 400ms ease;
}
@keyframes border-transform{
    0%,100% { border-radius: 63% 37% 54% 46%;} 
  50% { border-radius: 54% 46% 38% 62%;} 
}
.menu-icon:checked ~ .nav_1 {
  animation-play-state: paused;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 200%;
  height: 200%;
  transition: top 250ms 700ms ease,  
            right 250ms 700ms ease,
            transform 250ms 700ms ease,
            width 750ms 1000ms ease,
            height 750ms 1000ms ease;
}
.nav_1 ul{
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 6;
  text-align: center;
  transform: translateY(-50%);
  list-style: none;
}
.nav_1 ul li{
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  margin: 10px 0;
  text-align: center;
  list-style: none;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: all 250ms linear;
}
.nav_1 ul li a{
  font-family: sans-serif;
  font-size: 8vh;
  text-transform: uppercase;
  position: relative;
  color: #ececee;
  transition: all 250ms linear;
}
.nav_1 ul li a:hover{
  text-decoration: none;
  color: #03e9f4;
}
.menu-icon:checked ~ .nav_1  ul li {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 350ms ease,
              transform 250ms ease;
}
.menu-icon:checked ~ .nav_1 ul li:nth-child(1){
  transition-delay: 1400ms;
}
.menu-icon:checked ~ .nav_1 ul li:nth-child(2){
  transition-delay: 1480ms;
}
.menu-icon:checked ~ .nav_1 ul li:nth-child(3){
  transition-delay: 1560ms;
}
.menu-icon:checked ~ .nav_1 ul li:nth-child(4){
  transition-delay: 1640ms;
}
  /*Big menu*/
  .nav_2{
    display: flex;
    position: fixed;
    width: 100%;
    border-bottom: 2px solid #03e9f4;
    justify-content: center;
    flex-wrap: wrap;
  }
  .nav_2.active{
    opacity: 0;
    transition: all 0.1s;
  }
  .nav_2 > .button_menu{
    padding: 20px 40px;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 4px;
    position: relative;
    color: white;
    text-decoration: none;
  }
  .nav_2 > .button_menu2 {
    z-index: 1;
  }
  .button_menu2:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
     background: #03e9f4;
    transition: all 0.3s ease;
  }
  .button_5:after{
    background: #f4037b;
  }
  .button_menu2:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
  }
  h1{
    display: block;
    position: absolute;
    top: 25%;
    left: 10%;
    color: white;
    font-size: 10vh;
    font-weight: 700;
    text-transform: uppercase;
    opacity: 0;
    transition: top 500ms, opacity 0.5s;
  }
  .animate-active{
    opacity: 1;
    transition: 0.5s;
  }
  .address-find{
    opacity: 1;
    position: static;
    color: white;
    margin-left: 10%;
  }
  /*Contacts*/
  .social-media{
    display: flex;
    justify-content: center;
    align-items:flex-end;
    min-height: 75vh;
  }
  .container{
    display: flex;
    justify-content: center;
    gap: 40px;
  }
  .container li{
    list-style: none;
  }
  .container li a{
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C1C8E4;
    border-radius: 20px;
    font-size: 10vh;
    transform-style: preserve-3d;
    perspective-origin: 500px;
    transition: background 0.5s ease;
    text-decoration: none;
    border: 1px solid #C1C8E4;
}
  .container li a:not(#google):hover{
    color: white;
  }
  .container li #youtube:hover{
    background-color: #f4032b;
  }
  .container li #vk:hover{
    background-color: #036bf4;
  }
  .container li #google:hover{
    background-color: white;
  }
  .container li #tiktok:hover{
    background-color: black;
  }
  .container li::before{
    content: attr(data-text);
    position: absolute;
    top: 47%;
    left: 50%;
    font-size: 15vh;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    font-weight: 700;
    transition: top 200ms ease;
  }
  .container li:nth-child(4):before{
    color: white;
  }
  .container li:hover::before{
    top: 42%;
    opacity: .2;
  }
  .container li a .fa-brands{
    color: #8860D0;
  }
  .container li a:hover .fa-brands:not(.fa-google){
    color: white;
  }
  .container li a:hover .fa-brands{
    transition: 0.2s;
    transform: scale(1.2) translateZ(30px);
  }
  /*Карта*/
  iframe{
    margin-left: 10%;
    box-shadow: 2px 2px, -2px -2px black;
    border-radius: 20px;
    float: left;
    margin-right: 25px;
  }
  /*Адрес*/
  .mirea-address{
    font-size: 5.5vh;
    margin-top: 100px;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
  }
  @media (max-width: 767px) {
    .nav_2{
      display: none;
    }
    .menu-icon:checked + label,
    .menu-icon:not(:checked) + label{
        display: block;
        right: 45px;
    }
    .nav_1{
      display: block;
        right: 20px;
    }
    .nav_1 ul li a{
        font-size: 4vh;
    }
    h1{
        font-size: 5vh;
    }
    .social-media{
        align-items: flex-start;
    }
    .container{
        padding-top: 400px;
        flex-wrap: wrap;
        justify-content: left;
        gap: 0;
    }
    .container li a{
        margin-right: 5px;
        width: 100px;
        height: 100px;
        margin-top: 20px;
    }
    .container li::before{
        top: 40%;
        left: 50%;
        font-size: 8vh;
      }
      .container li:hover::before{
        top: 35%;
        left: 50%;
        font-size: 8vh;
      }
      iframe{
        width: 350px;
      }
      .mirea-address{
        margin-left: 10%;
        font-size: 3vh;
      }
  }
  @media (min-width: 748px) and (max-width: 991px) {
    .nav_2 > .button_menu{
      font-size: 13px;
    }
    h1{
        font-size: 7vh;
    }
    .container li a{
        width: 125px;
        height: 125px;
        margin-top: 5px;
    }
    .container li::before{
        top: 45%;
        left: 50%;
        font-size: 8vh;
      }
    .container li:hover::before{
        top: 40%;
        left: 50%;
        font-size: 10vh;
      }
      .mirea-address{
        margin-left: 10%;
        font-size: 2vh;
      }
      .nav_2 a img{
        width: 20px;
        height: 20px;
      }
  }
  @media (min-width: 991px) and (max-width: 1199px) {
    .nav_2 > .button_menu{
      font-size: 18px;
    }
    h1{
        font-size: 8vh;
    }
    .container li::before{
        top: 40%;
        left: 50%;
        font-size: 8vh;
      }
    .container li:hover::before{
        top: 35%;
        left: 50%;
        font-size: 10vh;
      }
    .mirea-address{
        margin-left: 10%;
        font-size: 5vh;
      }
  }
  @media (min-width: 1200px) {
    .nav_2 > .button_menu{
      font-size: 25px;
    }
    h1{
        font-size: 10vh;
    }
    .container li::before{
        top: 45%;
        left: 50%;
        font-size: 8vh;
      }
    .container li:hover::before{
        top: 40%;
        left: 50%;
        font-size: 10vh;
      }
  }